$windowWidth: 1920px;
$windowHeight: 1080px;
$mainColor: #c8262b;
@function px2vw($size, $width:$windowWidth) {
  @if (type-of($size) == "number" and unit($size) == "px") {
    @return $size * 100vw / $width;
  } @else {
    @return $size;
  }
}

@function px2vh($size, $height:$windowHeight) {
  @if (type-of($size) == "number" and unit($size) == "px") {
    @return $size * 100vh / $height;
  } @else {
    @return $size;
  }
}

.right-btn-box {
  position: fixed;
  right: px2vw(55px);
  bottom: px2vh(80px);
  z-index: 2;

  .list {
    background: $mainColor;
    border-radius: 24.5px;
    padding: px2vw(12px);
    //box-shadow: 0 4px 24px 0 rgba(95, 10, 16, 0.32);
    margin-top: px2vh(32px);
    position: relative;
    line-height: 1em;

    .icon {
      width: px2vw(24px);
      height: px2vw(24px);
      display: inline-block;
      transition: .3s;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        vertical-align: top;
      }
    }

    .icon-rotate {
      transform: rotateZ(180deg);
    }

    .text {
      padding: px2vw(12px) px2vw(60px) px2vw(12px) px2vw(24px);
      line-height: px2vw(24px);
      vertical-align: middle;
      position: absolute;
      background: $mainColor;
      border-radius: 24.5px;
      top: 0;
      left: px2vw(48px);
      z-index: -1;
      transition: .3s;
      white-space: nowrap;
      width: auto;
      transform: translateX(-100%) scale(0);
      transform-origin: right center;

      a {
        color: #fff;
      }
    }

    &:nth-child(1) {
      .text {
        font-size: 20px;
      }
    }

    &:hover {
      .text {
        left: px2vw(48px);
        visibility: visible;
        transform: translateX(-100%) scale(1);
      }
    }

    &:nth-child(3) {
      .code {
        position: absolute;
        width: px2vw(114px);
        height: px2vw(114px);
        background: $mainColor;
        left: px2vw(-16px);
        transform: translateX(-100%) scale(0);
        border-radius: 15px;
        top: -50%;
        padding: px2vw(15px);
        transition: .3s;
        transform-origin: right center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        .code {
          transform: translateX(-100%) scale(1);
        }
      }
    }
  }
}

.right-btn-box-page {
  .list {
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: px2vh(32px);
      background: $mainColor;
      left: 50%;
      top: 100%;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.right-btn-box-green {
  .list {
    background: #8db729;

    &::after {
      background: #8db729;
    }

    .text {
      background: #8db729;
    }

    &:nth-child(3) {
      .code {
        background: #8db729;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .right-btn-box{
    display: none;
  }
}
